html {
	scroll-behavior: smooth;
}

body {
	background-color: white;
	margin: 0;
	/* overflow: auto; */
}

.anchor {
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}

#logo {
	font-family: DM Serif Display;
	font-weight: 600;
	font-style: normal;
	font-size: 36px;
	line-height: 95.6%;
	display: flex;
	align-items: center;
	color: #4b4b4b;
	padding: 0 27px;
}

nav {
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
}

#nav-cont {
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  
}

nav ul {
	margin: 0;
	padding: 0;
	align-items: center;
}

nav ul a {
	list-style: none;
	margin: 4px;
	color: #4b4b4baa;
	color: #4b4b4b;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 95.6%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: none;
	padding: 14px 18px;
}

nav ul a:active {
	color: #4b4b4b;
}

#nav-button {
	border: none;
	background-color: transparent;
	z-index: 1999;
}

#searchIcon,
#cartIcon {
	width: 27px;
	height: 27px;
	color: #4b4b4b;
	margin-left: 14px;
}

#menu-icon {
	display: block;
	width: 47px;
	height: 47px;
	margin: 28px;
	z-index: 1;
}

#home {
	/* background-color: red; */
	overflow-x: hidden;
	position: relative;
	top: 104px;
}

#mainImage {
	position: relative;
	width: 537.62px;
	height: 365px;
	margin-left: 98px;
}

.filter {
	position: absolute;
	top: 63px;
	left: 32px;
	/* background-color: #f5f5f5cc; */
	background-color: #ffffffcc;
	padding: 32px 0;
	width: 234px;
	backdrop-filter: blur(5px);
}

.front {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
}

.front h1 {
	font-size: 30px;
  margin-bottom: 0;
	color: #4b4b4b;
}

.front p {
	font-family: sans-serif;
	font-size: 11.5px;
	color: #737373;
}

#products {
	/* display: block; */
	margin: 160px 0px;
}

#products header {
	/* background-color: red; */
	padding-left: 34px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* align-items: flex-start; */
}

#products header h1 {
	font-family: serif;
	font-size: 30px;
	color: #4b4b4b;
	padding-left: 10px;
	/* padding: 0 34px; */
}

#products-list {
	/* background-color: #f5f5f5; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 20px;
	padding: 0 29px;
}

#products-list-menu {
	background-color: transparent;
	/* background-color: #f5f5f5; */
	display: flex;
	align-items: center;
	justify-content: flex-end;
	/* padding: 0px 10px; */
	width: 100px;
	margin-top: 0px;
	border-style: none;
	/* justify-content: center; */
}

#products-list-options {
	display: none;
	position: relative;
	flex-direction: column;
	align-items: flex-end;
}

.list-option:nth-child(1) {
	top: 0px;
}
.list-option:nth-child(2) {
	top: 50px;
}
.list-option:nth-child(3) {
	top: 100px;
}
.list-option:nth-child(4) {
	top: 150px;
}
.list-option:nth-child(5) {
	top: 200px;
}

.list-option {
	position: absolute;
	border: none;
	border-top: solid black 1px;
	background-color: white;
	width: 70px;
	padding: 18px 0;
	z-index: 9;
}

.list-option:active {
	background-color: black;
	color: white;
}

#product-cards::-webkit-scrollbar {
	display: none;
}

#product-cards {
	display: flex;
	padding: 0 0 0 14px;
	box-sizing: border-box;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	overflow-x: auto;
	overflow-y: hidden;
}

.product-card {
	background-color: #faf4ef;
	margin: 30px 15px 50px 15px;
	padding: 0px 37px;
	height: 366px;
  min-width: 250px;
	border-bottom-left-radius: 50px;
}

.pImageCont {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-card img {
	position: relative;
	top: 40px;
}

.product-info {
	/* background-color: green; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.product-info h1 {
	margin: 37px 0 0 0;
}

.product-info p {
	margin: 0;
}

#show-case img {
  position:absolute;
	/* margin-left: 80px; */
	width: 356px;
	border-bottom-left-radius: 50px;
}

#scImages {
  position: relative;
  /* display: flex; */
  width: 356px;
  height: 356px;
  z-index: 10;
}

#showcase-image {
  position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.show {
	display: block;
}

.hide {
	display: none;
}

#showcase-info {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
	padding: 0px 64px 0 68px;
}

#showcase-info h1 {
	font-family: serif;
	font-size: 50px;
	color: #4b4b4b;
}

#showcase-info p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
  font-weight: 400;
	color: #737373;
  margin-bottom: 50px;
}

#showcase-info button {
	outline-style: none;
	border: none;
	padding: 11px;
	background-color: #faf4ef;
}

#showcase-info button:disabled {
	background-color: rgba(250, 244, 239, 0.5);
	color: #4b4b4b77;
	/* color: red; */
}

#bottom {
	display: flex;
	align-items: flex-start;
	border-top-right-radius: 50px;
	flex-direction: column;
	/* background-color: red; */
	background-color: #faf4ef;
	padding: 40px 35px;
	margin: 35px;
  margin-top: 88px;
}

#bottom h1 {
	font-family: serif;
	color: #4b4b4b;
	font-size: 34px;
}

#bottom button {
	border: none;
	margin: 6px 0;
	width: 175px;
	height: 50px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}

#bottom button:nth-child(2) {
  background-color: #ffffff;
  color: #4b4b4b;
}

#bottom button:nth-child(1) {
  background-color: #4b4b4b;
  color: #ffffff;
}

.nav-wide {
	display: none;
	background-color: white;
	flex-direction: column;
	position: absolute;
	top: 100px;
	right: 0%;
	z-index: 99;
}

/* @media (min-width: 621px) { */
@media (min-width: 1006px) {
	nav {
		justify-content: space-around;
	}

  #nav-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1400px;
  }

	nav ul a {
		font-size: 16px;
		font-weight: 700;
	}

	#logo {
		padding: 0;
	}

  .nav-wide {
		position: unset;
		background-color: transparent;
		display: flex;
		flex-direction: row;
	}

	#menu-icon {
		display: none;
	}


	#nav-button {
		display: none;
	}
	#main-container {
		width: 90%;
		margin: 0 auto;
    max-width: 1200px;
	}

	#home {
    /* background-color: red; */
    position: relative;
		display: flex;
		justify-content: center;
		overflow: hidden;
	}

	.filter {
		position: absolute;
		left: 170px;
    top: 268px;
		/* padding: 32px 0 32px 10px; */
		padding: 32px 20px 32px 10px;
	}

	.front {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 0px;
	}
	.front h1 {
		font-size: 33px;
    margin-bottom: 20px;
	}

  .front p {
    margin-top: 0;
    padding: 0;
    font-size: 14px;
  }

	#mainImage {
		z-index: 0;
		width: 70%;
		height: 70%;
		right: -60px;
		top: 38px;
	}

	#topRightRect {
		background-color: #faf4ef;
		position: absolute;
    width: 50%;
		height: 200px;
		top: 200px;
		right: 0px;
	}

	#botLeftRect {
		background-color: #faf4ef;
		/* background-color: #535251; */
		position: absolute;
    overflow:visible;

    width: 240%;
		height: 207px;
    top: 20%;
		left: -200%;
    z-index: 0;
	}

	#product-cards {
    flex-wrap: wrap;
		padding: 0 0 0 0px;
	}

  .product-card {
    box-sizing: border-box;
    width: 30%;
  }

  .product-card img {
    width: 90%;
    top: 80px;
  }

  .product-card:first-child img{
    width: 70%;
    top: 70px;
  }

  #show-case {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50px;
  }

  #scImages {
    width: 650px;
    height: 650px;
  }

  #show-case img {
    width: 650px;
  }
  
  #bottom {
    display: flex;
    margin-top: 160px;
    padding: 0;
    padding-left: 88px;
    padding-bottom: 42px;
  }
  
  #bottom br {
    display: none;
  }

  #bottom h1 {
    font-size: 64px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding: 0;
  }


}
