html {
	scroll-behavior: smooth;
}

body {
	background-color: white;
	margin: 0;
}

.anchor {
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}

#logo {
	font-family: DM Serif Display;
	font-weight: 600;
	font-style: normal;
	font-size: 36px;
	line-height: 95.6%;
	display: flex;
	align-items: center;
	color: #4b4b4b;
	padding: 0 27px;
}

nav {
	background-color: white;
	position: fixed;
	top: 0;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
}

#nav-cont {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

nav ul {
	margin: 0;
	padding: 0;
	align-items: center;
}

nav ul a {
	list-style: none;
	margin: 4px;
	color: #4b4b4baa;
	color: #4b4b4b;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 95.6%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: none;
	padding: 14px 18px;
}

nav ul a:active {
	color: #4b4b4b;
}

#nav-button {
	border: none;
	background-color: transparent;
	z-index: 1999;
}

#searchIcon,
#cartIcon {
	width: 27px;
	height: 27px;
	color: #4b4b4b;
	margin-left: 14px;
}

#menu-icon {
	display: block;
	width: 47px;
	height: 47px;
	margin: 28px;
	z-index: 1;
}

#home {
	overflow-x: hidden;
	position: relative;
	top: 104px;
}

#mainImage {
	position: relative;
	width: 537.62px;
	height: 365px;
	margin-left: 98px;
}

.filter {
	position: absolute;
	top: 63px;
	left: 32px;
	background-color: #ffffffcc;
	padding: 32px 0;
	width: 234px;
	backdrop-filter: blur(5px);
}

.front {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
}

.front h1 {
	font-size: 30px;
	margin-bottom: 0;
	color: #4b4b4b;
}

.front p {
	font-family: sans-serif;
	font-size: 11.5px;
	color: #737373;
}

#products {
	margin: 160px 0px;
}

#products header {
	padding-left: 34px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#products header h1 {
	font-family: serif;
	font-size: 30px;
	color: #4b4b4b;
	padding-left: 10px;
}

#products-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 20px;
	padding: 0 29px;
}

#products-list-menu {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100px;
	margin-top: 0px;
	border-style: none;
}

#products-list-options {
	display: none;
	position: relative;
	flex-direction: column;
	align-items: flex-end;
}

.list-option:nth-child(1) {
	top: 0px;
}
.list-option:nth-child(2) {
	top: 50px;
}
.list-option:nth-child(3) {
	top: 100px;
}
.list-option:nth-child(4) {
	top: 150px;
}
.list-option:nth-child(5) {
	top: 200px;
}

.list-option {
	position: absolute;
	border: none;
	background-color: white;
	color: #4b4b4baa;
	width: 120px;
	right: 0px;
	padding: 18px 0;
	z-index: 9;
}

.list-option:first-child {
	color: #4b4b4b;
}

#product-cards::-webkit-scrollbar {
	display: none;
}

#product-cards {
	display: flex;
	padding: 0 0 0 14px;
	box-sizing: border-box;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-x: auto;
	overflow-y: hidden;
}

.product-card {
	background-color: #faf4ef;
	margin: 30px 15px 50px 15px;
	padding: 0px 37px;
	height: 366px;
	min-width: 250px;
	border-bottom-left-radius: 50px;
}

.pImageCont {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-card img {
	position: relative;
	top: 40px;
}

.product-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.product-info h1 {
	margin: 37px 0 0 0;
}

.product-info p {
	margin: 0;
}

#scImages {
	position: relative;
	width: 356px;
	height: 356px;
	z-index: 10;
}

#showcase-image {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.show {
	display: block;
}

.hide {
	display: none;
}

#show-case img {
	position: absolute;
	width: 90vw;
	max-width: 380px;
	right: 0;
	border-bottom-left-radius: 50px;
}

#showcase-info {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	padding: 0px 44px 0 58px;
}

#showcase-info h1 {
	margin-bottom: 10px;
	font-family: serif;
	font-size: 40px;
	color: #4b4b4b;
}

#showcase-info p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: #737373;
	margin-bottom: 50px;
}

#showcase-info button {
	outline-style: none;
	border: none;
	padding: 11px;
	background-color: #faf4ef;
}

#showcase-info button:disabled {
	background-color: rgba(250, 244, 239, 0.5);
	color: #4b4b4b77;
}

#bottom {
	display: flex;
	align-items: flex-start;
	border-top-right-radius: 50px;
	flex-direction: column;
	background-color: #faf4ef;
	padding: 40px 35px;
	margin: 35px;
	margin-top: 88px;
}

#bottom h1 {
	font-family: serif;
	color: #4b4b4b;
	font-size: 34px;
}

#bottom button {
	border: none;
	margin: 6px 0;
	width: 175px;
	height: 50px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}

#bottom button:nth-child(2) {
	background-color: #ffffff;
	color: #4b4b4b;
}

#bottom button:nth-child(1) {
	background-color: #4b4b4b;
	color: #ffffff;
}

.nav-wide {
	display: none;
	background-color: white;
	flex-direction: column;
	position: absolute;
	top: 100px;
	right: 0%;
	z-index: 99;
}

@media (min-width: 1006px) {
	nav {
		justify-content: space-around;
	}

	#nav-cont {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		max-width: 1400px;
	}

	nav ul a {
		font-size: 16px;
		font-weight: 700;
	}

	#logo {
		padding: 0;
	}

	.nav-wide {
		position: unset;
		background-color: transparent;
		display: flex;
		flex-direction: row;
	}

	#menu-icon {
		display: none;
	}

	#nav-button {
		display: none;
	}
	#main-container {
		width: 90%;
		margin: 0 auto;
		max-width: 1200px;
	}

	#home {
		position: relative;
		display: flex;
		justify-content: center;
		overflow: hidden;
	}

	.filter {
		position: absolute;
		left: 170px;
		top: 268px;
		padding: 32px 20px 32px 10px;
	}

	.front {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 0px;
	}
	.front h1 {
		font-size: 33px;
		margin-bottom: 20px;
	}

	.front p {
		margin-top: 0;
		padding: 0;
		font-size: 14px;
	}

	#mainImage {
		z-index: 0;
		width: 70%;
		height: 70%;
		right: -60px;
		top: 38px;
	}

	#topRightRect {
		background-color: #faf4ef;
		position: absolute;
		width: 50%;
		height: 200px;
		top: 200px;
		right: 0px;
	}

	#botLeftRect {
		background-color: #faf4ef;
		position: absolute;
		overflow: visible;
		width: 240%;
		height: 207px;
		top: 20%;
		left: -200%;
		z-index: 0;
	}

	#products-list {
		background-color: yellow;
		display: flex;
		flex-direction: row;
		justify-content: center;
		font-size: 20px;
		padding: 0 29px;
	}

	#products-list svg {
		display: none;
	}

	#products-list-menu {
		display: none;
	}

	#products-list-options {
		display: flex;
		position: unset;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.list-option {
		position: unset;
		border: none;
		width: unset;
		box-sizing: border-box;
		padding: 10px 20px 10px 20px;
		margin: 0 10px;
		z-index: 9;
	}

	.filtr-wide {
		background-color: red;
		height: 100px;
		width: 100px;
	}

	#product-cards {
		flex-wrap: wrap;
		padding: 0 0 0 0px;
	}

	.product-card {
		box-sizing: border-box;
		width: 30%;
	}

	.product-card img {
		width: 90%;
		top: 80px;
	}

	.product-card:first-child img {
		width: 70%;
		top: 70px;
	}

	#show-case {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		margin-left: 50px;
	}

	#scImages {
		width: 650px;
		height: 650px;
	}

	#show-case img {
		width: 650px;
		max-width: unset;
	}

	#showcase-info h1 {
		font-style: normal;
		font-weight: 600;
		font-size: 64px;
		line-height: 100%;
	}

	#showcase-info p {
		font-size: 24px;
	}

	#bottom {
		display: flex;
		margin-top: 160px;
		padding: 0;
		padding-left: 88px;
		padding-bottom: 42px;
	}

	#bottom br {
		display: none;
	}

	#bottom h1 {
		font-size: 64px;
		margin-bottom: 20px;
		margin-top: 50px;
		padding: 0;
	}
}
